[submodule "libmpdclient"]
	path = Frameworks/libmpdclient
	url = git://git.musicpd.org/master/libmpdclient.git
[submodule "imeji"]
	path = Frameworks/imeji
	url = https://github.com/arttuperala/imeji.git
