[submodule "libmpdclient"]
	path = Frameworks/libmpdclient
	url = https://github.com/MusicPlayerDaemon/libmpdclient.git
[submodule "imeji"]
	path = Frameworks/imeji
	url = https://github.com/arttuperala/imeji.git
